<section class="hero is-light">
  <div class="hero-body">
    <div class="container">
      <article class="media">
        <div class="media-content">
          <div class="content">
            <a (click)="goBack()">
              <i class="fa fa-arrow-left"></i>
              Back
            </a>
            <p class="title">
              {{ username }}/{{ reponame }}
            </p>
            <p class="subtitle">
              @{{ username }}
            </p>

            <div class="field is-grouped is-grouped-multiline">
              <div class="control">
                <div class="tags">
                  <a class="tag is-white" href="{{ repo?.html_url }}" target="_blank">
                    <i class="fa fa-external-link-alt" style="margin-right: .2875em;"></i>
                    View on GitHub
                  </a>
                </div>
              </div>
              <div class="control">
                <div class="tags has-addons">
                  <span class="tag is-warning">Language</span>
                  <span class="tag is-white">{{ repo?.language }}</span>
                </div>
              </div>

              <div class="control">
                <div class="tags has-addons">
                  <span class="tag is-dark">Stars</span>
                  <span class="tag is-white">{{ repo?.stargazers_count }}</span>
                </div>
              </div>

              <div class="control">
                <div class="tags has-addons">
                  <span class="tag is-info">Forks</span>
                  <span class="tag is-white">{{ repo?.forks_count }}</span>
                </div>
              </div>

              <div class="control">
                <div class="tags has-addons">
                  <span class="tag is-success">opened issues</span>
                  <span class="tag is-white">{{ repo?.open_issues_count }}</span>
                </div>
              </div>
            </div>

            <p class="subtitle">
            </p>
          </div>
        </div>
        <div class="media-right has-text-centered">
          <p class="subtitle">
            Issues Count
          </p>
          <div style="display: block">
            <canvas baseChart [data]="issuesCount" [labels]="chartLabels" [chartType]="chartType" [legend]="false" [colors]="chartColors"></canvas>
          </div>
        </div>
      </article>
    </div>
  </div>

  <div class="hero-foot">
    <nav class="tabs is-boxed">
      <div class="container">
        <ul>
          <li class="all" (click)="allIssues()" [class.is-active]="filter.all">
            <a>All</a>
          </li>
          <li class="open" (click)="openIssues()" [class.is-active]="filter.open">
            <a>Open</a>
          </li>
          <li class="closed" (click)="closedIssues()" [class.is-active]="filter.closed">
            <a>Closed</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</section>

<section class="section">
  <div class="container">
    <gh-app-issue-card *ngFor="let issue of issues" [issue]="issue"></gh-app-issue-card>
    <p *ngIf="totalIssuesCount == 0">This repository has no issues</p>
  </div>
</section>
