<div class="card">
  <div class="card-content">
    <div class="media">
      <div class="media-left">
        <figure class="image is-48x48">
          <img src="{{ repo.owner.avatar_url }}" alt="{{ repo.owner.login }}">
        </figure>
      </div>
      <div class="media-content">
        <p class="title is-4">
          <a routerLink="repositories/{{repo.full_name}}">{{ repo.full_name }}</a>
        </p>
        <p class="subtitle is-6">@{{ repo.owner.login }}</p>
      </div>
    </div>

    <div class="content description">{{ repo.description }}</div>

    <div class="field is-grouped is-grouped-multiline">
      <div class="control">
        <div class="tags has-addons">
          <span class="tag is-warning">Language</span>
          <span class="tag">{{ repo.language }}</span>
        </div>
      </div>

      <div class="control">
        <div class="tags has-addons">
          <span class="tag is-dark">Stars</span>
          <span class="tag">{{ repo.stargazers_count }}</span>
        </div>
      </div>

      <div class="control">
        <div class="tags has-addons">
          <span class="tag is-info">Forks</span>
          <span class="tag">{{ repo.forks_count }}</span>
        </div>
      </div>

      <div class="control">
        <div class="tags has-addons">
          <span class="tag is-success">opened issues</span>
          <span class="tag">{{ repo.open_issues_count }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
