<spinner></spinner>
<section class="hero">
  <div class="hero-head">
    <nav class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <a routerLink="" class="navbar-item is-size-4">
            <span class="icon" style="margin-right: .2875em;">
              <i class="fab fa-github"></i>
            </span>
            <span id="title">OctoBrowser</span>
          </a>
          <span class="navbar-burger burger" data-target="navbarMenuHeroA">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
        <div class="navbar-menu">
          <div class="navbar-end">
            <span class="navbar-item">
              <a class="button is-dark is-inverted" href="https://bitbucket.org/diraulo/octo-browser" target="_blank">
                <span class="icon">
                  <i class="fab fa-bitbucket"></i>
                </span>
                <span>View Source</span>
              </a>
            </span>
          </div>
        </div>
      </div>
    </nav>
  </div>
</section>

<router-outlet></router-outlet>


<footer class="footer">
  <div class="content has-text-centered">
    <p>
      &copy; 2018 | &nbsp;
      <strong>OctoBrowser</strong> by
      <a href="https://github.com/diraulo">Raoul Diffouo</a> for
      <a href="https://www.blackswan.com/">Black Swan</a>
    </p>
  </div>
</footer>
