<div class="card">
  <div class="card-content" [ngClass]="issue.state">
    <div class="content">
      <p class="title is-4">
        <a class="is-text is-dark" href="{{issue.html_url}}" target="_blank">{{ issue.title }}</a>
      </p>
      <p class="subtitle is-6">
        <small>#{{issue.number}} opened {{ issue.created_at }} by {{ issue.user.login }}</small>
      </p>
    </div>
  </div>
</div>
