.card-content {
  padding: .867rem 1.5rem ;
}

.closed {
  border-left: 2px solid hsl(348, 100%, 61%);
}

.open {
  border-left: 2px solid hsl(171, 100%, 41%);
}

a {
  color: hsl(0, 0%, 4%);
}

a:hover {
  color: hsl(217, 71%, 53%);
}

.card:hover {
  background-color: #f6f8fa;
}
