<section class="hero is-dark is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Search
      </h1>

      <div class="field">
        <div class="control has-icons-left">
          <input [formControl]="searchInput" class="input" type="text" placeholder="Start typing to search for a repository...">
          <span class="icon is-small is-left">
            <i class="fas fa-search"></i>
          </span>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="section">
  <div class="container">
    <gh-app-repo *ngFor="let repo of repositories" [repo]="repo"></gh-app-repo>
  </div>
</div>
